In [25]:
import re
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd

import datetime as dt
from collections import Counter

import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import word_tokenize
from nltk.corpus import words
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [26]:
df = pd.read_csv(r'D:\Syracuse_sem1\Harini_SMDM\SMDM_Final_project\Biden_No_Retweet_Full_Text.csv',error_bad_lines=False)

C:\Users\pc\AppData\Local\Temp\ipykernel_12376\372328953.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(r'D:\Syracuse_sem1\Harini_SMDM\SMDM_Final_project\Biden_No_Retweet_Full_Text.csv',error_bad_lines=False)

In [27]:
df.head()

,Date,Tweet_id,Verified,Tweet,User,Location,Source,Likes,Followers,Following,Retweets
0,2022-05-08 23:58:20+00:00,1523452270448635905,False,The fact that #BethSentUs doxxed the justices ...,SanFranSooner,NaN,Twitter for iPhone,3,284,559,2
1,2022-05-08 23:57:33+00:00,1523452076147179520,False,Trump complained US Navy ships ‘look ugly’: Es...,MartinJmcmah,NaN,Twitter for iPhone,2,1208,179,0
2,2022-05-08 23:56:51+00:00,1523451899659251712,False,Remember when #biden left Afghanistan? Why isn...,christjiminy1,NaN,Twitter for iPhone,0,8,67,0
3,2022-05-08 23:55:50+00:00,1523451642909061121,False,"#Biden is asking for a $813,000,000,000 ""defen...",joshuamills044,NaN,Twitter for Android,0,662,1089,0
4,2022-05-08 23:53:44+00:00,1523451115479924741,False,"@ArseGrammatica Last month, the #SCOTUS reject...",hollmic,"Kansas, USA",Twitter Web App,0,89,426,0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14788 entries, 0 to 14787
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14788 non-null  object
 1   Tweet_id   14788 non-null  int64
 2   Verified   14788 non-null  bool
 3   Tweet      14788 non-null  object
 4   User       14788 non-null  object
 5   Location   9823 non-null   object
 6   Source     14788 non-null  object
 7   Likes      14788 non-null  int64
 8   Followers  14788 non-null  int64
 9   Following  14788 non-null  int64
 10  Retweets   14788 non-null  int64
dtypes: bool(1), int64(5), object(5)
memory usage: 1.1+ MB

In [29]:
df.shape

(14788, 11)

Preprocessing

In [30]:
df['Date'] = df['Date'].apply(lambda x: x[:-6] if '+' in x else x)
df.head()

,Date,Tweet_id,Verified,Tweet,User,Location,Source,Likes,Followers,Following,Retweets
0,2022-05-08 23:58:20,1523452270448635905,False,The fact that #BethSentUs doxxed the justices ...,SanFranSooner,NaN,Twitter for iPhone,3,284,559,2
1,2022-05-08 23:57:33,1523452076147179520,False,Trump complained US Navy ships ‘look ugly’: Es...,MartinJmcmah,NaN,Twitter for iPhone,2,1208,179,0
2,2022-05-08 23:56:51,1523451899659251712,False,Remember when #biden left Afghanistan? Why isn...,christjiminy1,NaN,Twitter for iPhone,0,8,67,0
3,2022-05-08 23:55:50,1523451642909061121,False,"#Biden is asking for a $813,000,000,000 ""defen...",joshuamills044,NaN,Twitter for Android,0,662,1089,0
4,2022-05-08 23:53:44,1523451115479924741,False,"@ArseGrammatica Last month, the #SCOTUS reject...",hollmic,"Kansas, USA",Twitter Web App,0,89,426,0

In [31]:

df['Date'] = df['Date'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d %H:%M:%S')) #Convert to date time format

In [32]:
df.dtypes

Date         datetime64[ns]
Tweet_id              int64
Verified               bool
Tweet                object
User                 object
Location             object
Source               object
Likes                 int64
Followers             int64
Following             int64
Retweets              int64
dtype: object

In [33]:
df.isnull().sum()

Date            0
Tweet_id        0
Verified        0
Tweet           0
User            0
Location     4965
Source          0
Likes           0
Followers       0
Following       0
Retweets        0
dtype: int64

In [34]:
df['Source'].value_counts()

Twitter Web App             5272
Twitter for iPhone          4047
Twitter for Android         3039
Twitter for iPad             546
Valurank                     379
                            ...
The Tweeted Times              1
SocialChamp IO                 1
Canva                          1
abu ali english bot test       1
Typorama2019                   1
Name: Source, Length: 122, dtype: int64

In [35]:
df['Location'].nunique()

2589

In [36]:
tweets_list = df['Tweet'].tolist()
len(tweets_list)

14788

In [37]:
tweets_list_updated = set(tweets_list)
len(tweets_list_updated)

14640

In [38]:
tweets_list_updated  = list(tweets_list_updated)
type(tweets_list_updated)

list

In [39]:
df['Tweet'].duplicated().sum()

148

In [40]:
df = df.drop_duplicates(subset = 'Tweet', keep = 'first',ignore_index = True)
df.shape

(14640, 11)

In [41]:
df['Tweet'].duplicated().sum()

0

removing emojis

In [42]:
def remove_emoji(tweet):
    emoji_pattern = re.compile("["
            u"\U0001F600-\U0001F64F"  # emoticons
            u"\U0001F300-\U0001F5FF"  # symbols & pictographs
            u"\U0001F680-\U0001F6FF"  # transport & map symbols
            u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', tweet)

df['Processed_Tweet']=df.Tweet.apply(remove_emoji)

In [43]:
count = 0
for i in df['Processed_Tweet']:
    if re.match(r'^RT', i):  #remove any rows that contain RT
        df.drop(df.loc[df['Processed_Tweet']==i].index,inplace = True)
        count+=1
    
count

0

In [44]:
df['Processed_Tweet']

0        The fact that #BethSentUs doxxed the justices ...
1        Trump complained US Navy ships ‘look ugly’: Es...
2        Remember when #biden left Afghanistan? Why isn...
3        #Biden is asking for a $813,000,000,000 "defen...
4        @ArseGrammatica Last month, the #SCOTUS reject...
                               ...
14635    @RepRaskin should 100% run in 2024 if #Biden d...
14636    Wow!! Looks like the petro #us  petro #Dollar ...
14637    The #US government should issue a bottle of wi...
14638    TruthSocial highkey the shit rn #TruthSocial #...
14639    'You cannot have a Ministry of Truth in this c...
Name: Processed_Tweet, Length: 14640, dtype: object

removing retweets that is the tweet which has RT

In [46]:
df['Processed_Tweet'] = [re.sub('^RT[\s]','',i) for i in df['Processed_Tweet']]  #Remove RT substring

In [48]:
df['Processed_Tweet']

0        The fact that #BethSentUs doxxed the justices ...
1        Trump complained US Navy ships ‘look ugly’: Es...
2        Remember when #biden left Afghanistan? Why isn...
3        #Biden is asking for a $813,000,000,000 "defen...
4        @ArseGrammatica Last month, the #SCOTUS reject...
                               ...
14635    @RepRaskin should 100% run in 2024 if #Biden d...
14636    Wow!! Looks like the petro #us  petro #Dollar ...
14637    The #US government should issue a bottle of wi...
14638    TruthSocial highkey the shit rn #TruthSocial #...
14639    'You cannot have a Ministry of Truth in this c...
Name: Processed_Tweet, Length: 14640, dtype: object

removing usernames

In [49]:
df['Processed_Tweet'] = [re.sub('@[^\s]+', ' ', i) for i in df['Processed_Tweet']] #remove usernames

In [50]:
df['Processed_Tweet']

0        The fact that #BethSentUs doxxed the justices ...
1        Trump complained US Navy ships ‘look ugly’: Es...
2        Remember when #biden left Afghanistan? Why isn...
3        #Biden is asking for a $813,000,000,000 "defen...
4          Last month, the #SCOTUS rejected the #Biden ...
                               ...
14635      should 100% run in 2024 if #Biden doesn't. \...
14636    Wow!! Looks like the petro #us  petro #Dollar ...
14637    The #US government should issue a bottle of wi...
14638    TruthSocial highkey the shit rn #TruthSocial #...
14639    'You cannot have a Ministry of Truth in this c...
Name: Processed_Tweet, Length: 14640, dtype: object

removing anyh urls that are present

In [51]:
df['Processed_Tweet'] = [re.sub('((www\.[^\s]+)|(https?://[^\s]+))', '', i) for i in df['Processed_Tweet']] #Remove urls

In [52]:
df['Processed_Tweet']

0        The fact that #BethSentUs doxxed the justices ...
1        Trump complained US Navy ships ‘look ugly’: Es...
2        Remember when #biden left Afghanistan? Why isn...
3        #Biden is asking for a $813,000,000,000 "defen...
4          Last month, the #SCOTUS rejected the #Biden ...
                               ...
14635      should 100% run in 2024 if #Biden doesn't. \...
14636    Wow!! Looks like the petro #us  petro #Dollar ...
14637    The #US government should issue a bottle of wi...
14638    TruthSocial highkey the shit rn #TruthSocial #...
14639    'You cannot have a Ministry of Truth in this c...
Name: Processed_Tweet, Length: 14640, dtype: object

removing the hashtags symbol from the tweets

In [53]:
df['Processed_Tweet'] = [re.sub(r'#([^\s]+)', r'\1', i) for i in df['Processed_Tweet']] # remove the # in #hashtag

In [54]:
df['Processed_Tweet']

0        The fact that BethSentUs doxxed the justices w...
1        Trump complained US Navy ships ‘look ugly’: Es...
2        Remember when biden left Afghanistan? Why isn’...
3        Biden is asking for a $813,000,000,000 "defens...
4          Last month, the SCOTUS rejected the Biden  a...
                               ...
14635      should 100% run in 2024 if Biden doesn't. \n...
14636    Wow!! Looks like the petro us  petro Dollar is...
14637    The US government should issue a bottle of win...
14638    TruthSocial highkey the shit rn TruthSocial Tr...
14639    'You cannot have a Ministry of Truth in this c...
Name: Processed_Tweet, Length: 14640, dtype: object

using library to preprocess the tweets

In [64]:
import preprocessor as p #Module for faster preprocessing specifically for tweets

In [65]:
df['Processed_Tweet'] = [p.clean(i) for i in df['Processed_Tweet']]

AttributeError: module 'preprocessor' has no attribute 'clean'